.keypad {
    width: 80%;
    max-width: 300px;
}

.keypad > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: .5em;
}

.keypad > div > button {
    font-size: 18pt;
    width: 3.75em;
    height: 2.5em;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #41C3BE;
    color: white;
}

.keypad > div > button:focus {
    outline: 0;
}

.keypad > div > button:active {
    background-color: #319b98;
}
